/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/*
Colors used
<<<<<<< Updated upstream
Cloud: #F3F3F3;
Bright Red (better contrast):  #DA183C;
Deep Red: #932432;
Pure Purple: #3C1874;
Purple Tinged Grey: #283747;
 */


 * {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
 }

body {
  background-color: #F3F3F3;
  font-family: 'Roboto', sans-serif;
=======

SHIP COVE - primary color
DESERT STORM - Light shades
KIMBERLY - Light accent
RUM - Dark accent
CHARADE - Dark shades

*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #faf9f8;
  font-family: 'Darker Grotesque', sans-serif;
>>>>>>> Stashed changes
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
<<<<<<< Updated upstream
  color: #000;
}

h1 {
  color: #3C1874;
  font-size: 28px;
=======
  color: #15151c;
}

h1 {
  color: #15151c;
  font-size: 32px;
>>>>>>> Stashed changes
  font-weight: 700;
}

h2 {
<<<<<<< Updated upstream
  color: #3C1874;
  font-size: 24px;
=======
  color: #15151c;
  font-size: 26px;
>>>>>>> Stashed changes
  font-weight: 700;
}

h3 {
<<<<<<< Updated upstream
  color: #3C1874;
  font-size: 18px;
=======
  color: #15151c;
  font-size: 20px;
>>>>>>> Stashed changes
  font-weight: 700;
}

a {
<<<<<<< Updated upstream
  color: #3C1874;
  font-weight: 500;
=======
  color: #746a8b;
  font-weight: 600;
>>>>>>> Stashed changes
  text-decoration: none;
}

a:visited {
  font-weight: 400;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:active {
  color: #000;
}

ul {
  padding-left: 0;
  list-style-position: inside;
}

body {
  max-width: 1440px;
  padding: 20px;
  margin: 0 auto;
}

main {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 10px;
}

.contact {
  text-align: center;
}

.contact-form {
  margin: 25px auto;
  width: 50%;
  text-align: justify;
}

.contact-form textarea,
.contact-form input {
  width: 100%;
  padding: 10px;
}

.contact-form button {
  width: 100%;
}

.contact-form label {
  font-size: 14px;
  font-weight: 500;
}

button {
  border: none;
  font-family: inherit;
<<<<<<< Updated upstream
  font-weight: 500;
  background-color: #DA183C;
  color: #F3F3F3;
=======
  font-weight: 600;
  background-color: #7691b2;
  color: #faf9f8;
>>>>>>> Stashed changes
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.9s;
  -o-transition: opacity 0.9s;
  transition: opacity 0.9s;
}

.button {
  border: none;
  font-family: inherit;
<<<<<<< Updated upstream
  font-weight: 500;
  background-color: #DA183C;
  color: #F3F3F3;
=======
  font-weight: 600;
  background-color: #7691b2;
  color: #faf9f8;
>>>>>>> Stashed changes
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.9s;
  -o-transition: opacity 0.9s;
  transition: opacity 0.9s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80%  */
  opacity: 0.8;
  text-decoration: none;
}

.profile {
  max-width: 700px;
  margin: 100px auto;
}

.profile__portrait {
  float: left;
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

/* Header and Navigation layout */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1440px;
<<<<<<< Updated upstream
  margin: 0 auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.page-header__item{
=======
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  line-height: 90px;
}

.page-header__item {
>>>>>>> Stashed changes
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}
<<<<<<< Updated upstream
/*navigation container within header (last = second child)*/
=======

/* header logo */
.page-header__logo {
  -webkit-transition: opacity 0.9s;
  -o-transition: opacity 0.9s;
  transition: opacity 0.9s;
  padding: 10px;
  float: left;
}

.page-header__logo:hover,
.page-header__logo:focus,
.page-header__logo:active {
  opacity: 0.6;
  -webkit-transition: opacity 0.9s;
  -o-transition: opacity 0.9s;
  transition: opacity 0.9s;
}

/* navigation container within header (last = second child) */
>>>>>>> Stashed changes
.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

/* Navigation */

.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
<<<<<<< Updated upstream
  padding: 0 10px;
=======
  width: auto;
  margin: 0;
  margin-right: -4px;
  max-height: 90px;
}

.navigation-list__item {
  display: inline-block;
  padding: 0 15px;
  color: #15151c;
  background-color: #faf9f8;
  text-transform: uppercase;
  font-weight: 400;
}

.navigation-list__item:hover,
.navigation-list__item:focus {
  text-decoration: none;
  background-color: #7691b2;
  color: #faf9f8;
  -webkit-transition: background-color 0.3s ease-out, color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out, color 0.3s ease-out;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
>>>>>>> Stashed changes
}
.navigation-list__item--active {
<<<<<<< Updated upstream
  font-weight: 700;
}

/*header logo transition */
.page-header__logo {
  -webkit-transition: opacity 0.9s;
  -o-transition: opacity 0.9s;
  transition: opacity 0.9s;
}
.page-header__logo:hover,
.page-header__logo:focus,
.page-header__logo:active {
  opacity: 0.6;
  -webkit-transition: opacity 0.9s;
  -o-transition: opacity 0.9s;
  transition: opacity 0.9s;
}
/*Footer */
=======
  background-color: #7691b2;
  color: #faf9f8;
}

@media all and (max-width: 593px) {
  .page-header {
    height: inherit;
    line-height: inherit;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .navigation-list__item--active {
    background-color: inherit;
    color: #15151c;
    font-weight: 700;
  }
}

/* Footer */
>>>>>>> Stashed changes
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media__icon {
  width: 30px;
  margin: 5px;
  -webkit-transition: width 0.2s linear, margin 0.2s linear;
  -o-transition: width 0.2s linear, margin 0.2s linear;
  transition: width 0.2s linear, margin 0.2s linear;
}

.social-media__icon:hover {
  width: 40px;
  margin: 0;
}

/* Project grid list for Work page */
.work {
  text-align: center;
}

/* start grid fallback */
.project-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 33%;
  text-align: justify;
}

/* end grid fallback */

@supports (display: grid) {
  .project-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 15px;
  }
}

.project-list__item {
  background-color: rgba(0, 0, 0, 0.05);
  width: auto;
  min-height: auto;
  border: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 4px 3px 3px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 3px 3px 2px rgba(0, 0, 0, 0.2);

}

.project-list__item:last-child {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

@media all and (max-width: 500px) {
  .project-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 768px) {
  .project-list {
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 768px) {
  .project-list {
    grid-gap: 10px;
  }

  .project-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }
}

.project-list__content {
  margin: 0;
  padding: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.project-list__content h3 p {
  margin: 0;
  padding: 10px 0;
}

.project-list__image {
  margin: 0;
  width: 100%;
}

.project-list__links {
  margin: 10px;
  padding: 10px 0;
    width: 100%;
}
<<<<<<< Updated upstream
.project__button {
  background-color: rgba(0, 0, 0, .6);;
  color: #F3F3F3;
  width: 100%;
=======

.project__button__contact {
  background-color: #867caa;
>>>>>>> Stashed changes
}
