/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/*
Colors used
Cloud: #F3F3F3;
Bright Red (better contrast):  #DA183C;
Deep Red: #932432;
Pure Purple: #3C1874;
Purple Tinged Grey: #283747;
 */


 * {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
 }

body {
  background-color: #F3F3F3;
  font-family: 'Roboto', sans-serif;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #000;
}

h1 {
  color: #3C1874;
  font-size: 32px;
  font-weight: 700;
}

h2 {
  color: #3C1874;
  font-size: 26px;
  font-weight: 700;
}

h3 {
  color: #3C1874;
  font-size: 20px;
  font-weight: 700;
}

a {
  color: #3C1874;
  font-weight: 600;
  text-decoration: none;
}
a:visited {
  font-weight: 400;
}
a:hover , a:focus {
  text-decoration: underline;
}
a:active {
  color: #000;
}

ul {
  padding-left: 0;
  list-style-position: inside;
}

body {
  max-width: 1440px;
  padding: 20px;
  margin: 0 auto;
}

main {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.contact {
  text-align: center;
}
.contact-form {
  margin: 25px auto;
  width: 50%;
  text-align: justify;
}

.contact-form textarea,
.contact-form input {
  width: 100%;
  padding: 10px;
}

.contact-form button {
  width: 100%;
}

.contact-form label {
  font-size: 14px;
  font-weight: 600;
}


button {
  border: none;
  font-family: inherit;
  background-color: #DA183C;
  color: #F3F3F3;
  font-weight: 600;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.9s;
  -o-transition: opacity 0.9s;
  transition: opacity 0.9s;
}


.button {
  border: none;
  font-family: inherit;
  background-color: #DA183C;
  color: #F3F3F3;
  font-weight: 600;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.9s;
  -o-transition: opacity 0.9s;
  transition: opacity 0.9s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  text-decoration: none;
}

.profile{
  max-width: 700px;
  margin: 100px auto;
}

.profile__portrait {
  float: left;
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

/*Header and Navigation layout*/
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.page-header__item{
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}
/*navigation container within header (last = second child)*/
.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

/*Navigation*/

.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  padding: 0 10px;
}
.navigation-list__item--active {
  font-weight: 700;
}

/*header logo transition */
.page-header__logo {
  -webkit-transition: opacity 0.9s;
  -o-transition: opacity 0.9s;
  transition: opacity 0.9s;
}
.page-header__logo:hover,
.page-header__logo:focus,
.page-header__logo:active {
  opacity: 0.6;
  -webkit-transition: opacity 0.9s;
  -o-transition: opacity 0.9s;
  transition: opacity 0.9s;
}
/*Footer */
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media__icon {
  width: 30px;
  margin: 5px;
  -webkit-transition: width .2s linear, margin .2s linear;
  -o-transition: width .2s linear, margin .2s linear;
  transition: width .2s linear, margin .2s linear;
}

.social-media__icon:hover {
  width: 40px;
  margin: 0px;
}


/*Project grid list for Work page*/
.work {
  text-align: center;
}
/* start grid fallback */
.project-list__item {
 /*display: inline-block;*/
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-pack: start;
     -ms-flex-pack: start;
         justify-content: flex-start;
 width: 33%;
 text-align: justify;
}
/* end grid fallback */

@supports (display: grid) {
  .project-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 15px;
  }
}

.project-list__item {
  background-color: rgba(0, 0, 0, 0.05);
  width: auto;
  min-height: auto;
  border: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 4px 3px 3px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 3px 3px 2px rgba(0, 0, 0, 0.2);

}

.project-list__item:last-child {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}


@media all and (max-width: 500px) {
  .project-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 768px){
  .project-list {
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 768px){
  .project-list {
    grid-gap: 10px;
  }
  .project-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
}

.project-list__content {
  margin: 0;
  padding: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.project-list__content h3 p {
  margin: 0;
  padding: 10px 0;
}

.project-list__image {
  margin: 0;
  width: 100%;
}
.project-list__links {
  margin: 10px;
  padding: 10px 0;
    width: 100%;
}
.project__button {
  background-color: rgba(0, 0, 0, .6);;
  color: #F3F3F3;
  width: 100%;
}
