/*
Colors used

SHIP COVE - primary color
DESERT STORM - Light shades
KIMBERLY - Light accent
RUM - Dark accent
CHARADE - Dark shades

*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600&family=Source+Sans+Pro:wght@400;600&display=swap');


:root {
  /* colors */
  --primary-color: #7691b2;
  --light-accent: #867caa;
  --dark-accent: #746a8b;
  --light-shades: #ffffff;
  --dark-shades: #15151c;
  --text-color: #15151c;

  /* text emphasis */
  --bold: 700;
  --semibold: 600;
}

* {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

body {
  background-color: var(--light-shades);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: var(--text-color);
}

h1 {
  color: var(--text-color);
  font-size: 32px;
  font-weight: var(--bold);
}

h2 {
  color: var(--text-color);
  font-size: 26px;
  font-weight: var(--bold);
}

h3 {
  color: var(--text-color);
  font-size: 22px;
  font-weight: var(--bold);
}

p {
  font-size: 16px;
}

a {
  color: var(--dark-accent);
  font-weight: var(--semibold);
  text-decoration: none;
}

a:visited {
  font-weight: 400;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:active {
  color: #000;
}

ul {
  padding-left: 0;
  list-style-position: inside;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

button,
.button {
  border: none;
  font-family: inherit;
  font-weight: var(--semibold);
  background-color: var(--primary-color);
  color: var(--light-shades);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.9s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
  text-decoration: none;
}


.navigation-list__button {
  margin-left: 15px;
  color: var(--light-accent);
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
}

.profile {
  max-width: 1280px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
}

.profile__portrait__container {
  width: 100%;
  text-align: center;
}

.profile__portrait {
  max-width: 250px;
  height: auto;
  border-radius: 50%;
}

.profile__content {
  text-align: center;
}

@media all and (min-width: 1024px) {
  .profile__portrait__container {
    flex: 1 2 auto;
    width: 33.33%;
    text-align: center;
  }

  .profile__portrait {
    max-width: 250px;
    height: auto;
  }

  .profile__content {
    width: 66.66%;
  }
}

/* Header and Navigation layout */
.page-header {
  display: flex;
  width: 100%;
  max-width: 1440px;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
  line-height: 90px;
}

.page-header__item {
  flex: 0 1 200px;
}

/* header logo */
.page-header__logo {
  transition: opacity 0.9s;
  padding: 10px;
  float: left;
}

.page-header__logo:hover,
.page-header__logo:focus,
.page-header__logo:active {
  opacity: 0.6;
  transition: opacity 0.9s;
}

/* navigation container within header (last = second child) */
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/* Navigation */

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  width: auto;
  margin: 0;
  margin-right: -4px;
  max-height: 90px;
}

.navigation-list__item {
  display: inline-block;
  padding: 0 15px;
  color: var(--dark-shades);
  background-color: var(--light-shades);
  text-transform: uppercase;
  font-weight: 400;
}

.navigation-list__item:hover {
  text-decoration: none;
  border-bottom: 4px solid var(--primary-color);
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}


@media all and (max-width: 593px) {
  .page-header {
    height: inherit;
    line-height: inherit;
    align-items: flex-start;
  }

  .navigation-list__item--active {
    background-color: inherit;
    color: var(--dark-shades);
    font-weight: 700;
  }
}

/* Footer */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-footer p {
  font-size: 14px;
}

.social-media {
  display: flex;
  text-align: center;
  justify-content: center;
}

.social-media__icon {
  width: 30px;
  margin: 5px;
  transition: width 0.2s linear, margin 0.2s linear;
}

.social-media__icon:hover {
  width: 40px;
  margin: 0;
}

/* Project grid list for project section */
.work {
  text-align: center;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 15px;
}

.project-list__item {
  display: flex;
  flex-direction: column;
  width: auto;
  min-height: auto;
  border: 1px solid var(--primary-color);
  box-shadow: 4px 3px 3px 2px var(--primary-color);
}

@media all and (min-width: 500px) {
  .project-list {
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}


@media all and (min-width: 768px) {
  .project-list {
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.project-list__content {
  margin: 0;
  padding: 0 10px;
  flex: 3 1;
  display: flex;
  flex-direction: column;
}


.project-list__content h3 p {
  margin: 0;
  padding: 10px 0;
}

.project-list__content p {
  font-size: 14px;
}

.project-list__content h1 {
  font-size: 28px;
}

.project-list__content h2 {
  font-size: 24px;
}

.project-list__content h3 {
  font-size: 20px;
}

.project-list__image {
  margin: 0;
  width: 100%;
}

.project-list__links {
  margin: auto auto 10px 10px;
  padding: 10px 0;
  font-size: 14px;
}


/* ABOUT section */

.about-main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-element {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.about-image {
  width: 60px;
}

.about-content * {
  font-size: 14px;
}

@media all and (min-width: 1024px) {
  .about-main-container {
    display: flex;
    flex-direction: row;
  }

  .about-element {
    flex: 1 1 0;
    width: 0;
    text-align: center;
  }
}